backend/studylink2/HELP.md
backend/studylink2/target/
!backend/studylink2/.mvn/wrapper/maven-wrapper.jar
!backend/studylink2/**/src/main/**/target/
!backend/studylink2/**/src/test/**/target/

### STS ###
backend/studylink2/.apt_generated
backend/studylink2/.classpath
backend/studylink2/.factorypath
backend/studylink2/.project
backend/studylink2/.settings
backend/studylink2/.springBeans
backend/studylink2/.sts4-cache

### IntelliJ IDEA ###
backend/studylink2/.idea
backend/studylink2/*.iws
backend/studylink2/*.iml
backend/studylink2/*.ipr

### NetBeans ###
backend/studylink2/nbproject/private/
backend/studylink2/nbbuild/
backend/studylink2/dist/
backend/studylink2/nbdist/
backend/studylink2/.nb-gradle/
backend/studylink2/build/

!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
backend/studylink2/.vscode/
