html {
  overflow: hidden;
}

/*container*/
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--txt_col_1);

  flex-direction: column;

  min-width: 100vw;
  min-height: 100vh;
}

.content-container {
  display: flex;

  flex-direction: column;

  min-width: 100vw;
  min-height: 80vh;
}

.headline {
  margin-top: 30px;
  margin-bottom: 50px;
  min-width: 100vw;
  display: flex;
  justify-content: center;
}

span {
  margin: 6px;
  font-weight: bold;

  font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  color: var(--txt_col_1);
  text-shadow: 0px 0px 5px var(--txt_shadow);
}

.text-container {
  margin-bottom: 30px;
}

.teacher-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  margin: 20px;
  background: var(--bg_col_login);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px var(--txt_shadow);
}

.teacher-content-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.teacher-container-table {
  display: flex;
  flex-direction: column;

  margin: 20px;
  background: var(--bg_col_login);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px var(--txt_shadow);
}

.teacher-dropdown-container {
  display: flex;
  justify-content: space-between;
}

mat-form-field + mat-form-field {
  margin-left: 20px;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 16px;
}

.btn-confirm {
  padding: 12px;
  font-size: 16px;
}

.btn-confirm:hover {
  background-color: var(--prim_blue);
  cursor: pointer;
}

.btn-confirm:active {
  transform: translateX(-0.5px) translateY(-0.5px);
}

table {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

tr {
  display: flex;
  justify-content: space-between;
}

tr + tr {
  margin-top: 10px;
}

.styled-td {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
