<!DOCTYPE html>

<html>
  <div class="container">
    <app-header></app-header>
    <div class="signup-container">
      <div class="title-container">
        <h2>Konto Erstellen</h2>
        <img src="assets\img\studylink_II_logo.svg" alt="Logo">
      </div>
  
      <form [formGroup]="loginForm" (keydown.enter)="directToLogin()" (mouseup)="onButtonReleased()" (mouseup)="onButtonCReleased()">
        <div class="form-group">
          <label for="email" [class.active]="isEmailActive">E-Mail</label>
          <input type="text" id="email" (focus)="onInputFocus('email')" (blur)="onInputBlur('email')" name="email" formControlName="email" required>
        </div>
        <div class="form-group">
          <label for="passwort" [class.active]="isPasswordActive">Passwort</label>
          <input type="{{ isPasswordVisible ? 'text' : 'password' }}" id="passwort" (focus)="onInputFocus('password')" (blur)="onInputBlur('password')" name="passwort" formControlName="password" required>
          <button type="button" class="btn-show-password" (mousedown)="onButtonPressed()"><img [src]=" isPasswordVisible ? 'assets/img/eye.png' : 'assets/img/eye.png'" alt="themIcon"></button>
        </div>
        <div class="form-group">
            <label for="confirmPassword" [class.active]="isConfirmPasswordActive">Passwort bestätigen</label>
            <input type="{{ isConfirmPasswordVisible ? 'text' : 'password' }}" id="confirmPassword" (focus)="onInputFocus('confirmPassword')" (blur)="onInputBlur('confirmPassword')" name="confirmPassword" formControlName="confirmPassword" required>
            <button type="button" class="btn-show-password" (mousedown)="onButtonCPressed()"><img [src]=" isConfirmPasswordVisible ? 'assets/img/eye.png' : 'assets/img/eye.png'" alt="themIcon"></button>
        </div>
        <div class="form-btn-container">
            <div class="text">Bereits ein Konto?</div>
            <button type="button" routerLink="/login" class="btn-directTo-login">Anmelden</button>
        </div>
      </form>
  
      <div class="btn-container" >
        <button type="button" (click)="onSubmit()" class="btn-confirm btn-propertys">Konto Erstellen</button>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</html>