<!DOCTYPE html>

<html>
    <div class="container">
        <div class="matches-header">
            <app-header></app-header>
            <app-navbar></app-navbar>
        </div>
        <div class="content-container">
            <div class="headline">
                <span>Matches</span>
            </div>
            <div class="matches-container">
                <div class="matches">
                    <div class="matches-as-teacher">
                        <h3>Matches als Lehrer</h3>
                        <table class="styled-table">
                            <tr>
                                <th>Fach</th>
                                <th>Jahr</th>
                                <th>Schüler</th>
                                <th>Status</th>
                                <th>Aktion</th>
                            </tr>
                            <tr>
                                <td>KSN</td>
                                <td>5</td>
                                <td>Paul Sturm</td>
                                <td>beantragt</td>
                                <button class="btn-propertys btn-confirm">Match akzeptieren</button>

                            </tr>
                            <tr>
                                <td>DIC</td>
                                <td>5</td>
                                <td>Paul Sturm</td>
                                <td>beantragt</td>
                                <button class="btn-propertys btn-confirm">Match akzeptieren</button>

                            </tr>
                        </table>
                    </div>
                    <br>
                    <div class="matches-as-student">
                        <h3>Matches als Schüler</h3>
                        <table class="styled-table">
                            <tr>
                                <th>Fach</th>
                                <th>Lehrer</th>
                                <th>Status</th>
                                <th>Aktion</th>
                            </tr>
                            <tr>
                                <td>KSN</td>
                                <td>Fabio Strumegger</td>
                                <td>angeboten</td>
                                <button class="btn-propertys btn-confirm">Match akzeptieren</button>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</html>