<!DOCTYPE html>

<html>
  <div class="container">
    <app-header></app-header>
    <div class="password-reset-container">
      <div class="title-container">
        <h2>Passwort Zurücksetzen</h2>
        <img src="assets\img\studylink_II_logo.svg" alt="Logo">
      </div>
      
      <div class="explanation">
        Es wird eine E-Mail mit einem Code an diese E-Mail-Adresse geschickt der 15 Minuten gültig ist.
      </div>
  
      <form [formGroup]="loginForm">
        <div class="form-group">
          <label for="email" [class.active]="isEmailActive">E-Mail</label>
          <input type="text" id="email" (focus)="onInputFocus('email')" (blur)="onInputBlur('email')" name="email" formControlName="email" required>
        </div>
      </form>
  
      <div class="btn-container">
        <button type="submit" routerLink="/" class="btn-confirm btn-propertys">Bestätigen</button>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</html>
