<!DOCTYPE html>
<html>
    <app-header></app-header>
    <mat-form-field>
        <mat-select>
            <mat-option>ews1</mat-option>
            <mat-option>ews2</mat-option>
            <mat-option>ews3</mat-option>
        </mat-select>
    </mat-form-field>
    <div class="text"><p>Es gibt so Mythen, denen begegne ich immer wieder.</p>

        <p>Dass man ohne Facebook online keinen Erfolg haben kann, zum Beispiel. Dass Bananen gut schmecken. Und, mein aktueller Liebling: die angebliche Tatsache, dass Menschen auf Websites nichts lesen und deshalb nur ganz wenig Text drauf stehen sollte.</p>
        
        <p>Ganz im Ernst, Freunde: Wie kommt ihr darauf? Wer hat diesen Quatsch das erste Mal gesagt, wer hat mit dieser Aussage einen solchen Erfolg gehabt?</p>
        
        <p>Wei&szlig;t du, was du hier gerade tust? Du liest. Im Internet! Auf einer Website!</p>
        
        <p>Und du bist nicht alleine dabei. Jetzt gerade, in diesem Moment, lesen Millionen von Menschen Texte im Internet. Deine Website k&ouml;nnte auch darunter sein, gelesen werden von Fremden, die damit dir und deinem Angebot ein St&uuml;ckchen n&auml;her kommen &mdash; vorausgesetzt, es steht &uuml;berhaupt etwas drauf.</p>
        
        <p>Sprache ist m&auml;chtig Lass mich das ganz deutlich sagen: Es ist nicht richtig, dass auf einer Website nur wenig Text stehen darf. Menschen und Suchmaschinen brauchen Worte, um zu erkennen, was du anbietest und wof&uuml;r du stehst.</p>
        
        <p>Menschen brauchen deine Worte, um ein Gef&uuml;hl daf&uuml;r zu bekommen, wer du bist. Deine Leser h&ouml;ren aus deinen Formulierungen heraus, wie du mit ihnen in echt sprechen w&uuml;rdest, und sie h&ouml;ren, ob du sie ernst nimmst. Wenn sie das Gef&uuml;hl haben, dass da ein echter Mensch eine Haltung hat, und sich diese Haltung mit ihrer eigenen deckt, dann entwickeln sie Vertrauen zu dieser Person, und damit zu der Website.</p>
        
        <p>Suchmaschinen brauchen deine Worte, denn sie haben keine Augen. Alles, was Google von dir wei&szlig;, muss Google lesen. Und Google sollte nat&uuml;rlich ein bisschen was von dir wissen, denn sonst w&uuml;ssten sie ja gar nicht, zu welchen Suchanfragen deine Seite passt.</p>
        
        <p>Nicht alles auf einen Haufen Ja, Text im Internet muss anders aufbereitet werden als in einer Zeitung oder einem Buch, denn das Leseverhalten am Bildschirm ist grundlegend anders. Text im Internet muss h&auml;ppchenisiert werden, damit ein Leser am Computer oder am Handy schnell dar&uuml;ber hinwegfliegen kann und trotzdem begreift, worum es geht.</p>
        
        <p>Hilfreiche Mittel zur H&auml;ppchenisierung sind kurze Abs&auml;tze, viele Zwischen&uuml;berschriften, eine sinnvolle Gliederung und ein klarer und systematischer Seitenaufbau.</p>
        
        <p>Aber nur weil er anders aufbereitet werden muss, hei&szlig;t das noch lange nicht, dass du auf Text verzichten solltest.</p>
        
        <p>Auf deiner Seite gelten deine Regeln Das ist vielleicht das Wichtigste, was du aus dieser Legenden-Zerst&ouml;rung lernen kannst: Auf deiner Website gelten deine Regeln. Und keine wilden Marketing-Mythen.</p>
        
        <p>Diese Regeln? Denkst du dir nicht einfach aus, sondern du leitest sie aus den Bed&uuml;rfnissen deiner Kunden ab.</p>
        
        <p>Und wenn du genau hinschaust, wirst du feststellen, dass die allermeisten Kunden, egal in welcher Branche, das Bed&uuml;rfnis haben, auf einer Website Vertrauen aufzubauen. Wir Menschen wollen n&auml;mlich vertrauen, uns &#8222;richtig&ldquo; f&uuml;hlen und das &#8222;Richtige&ldquo; kaufen &mdash; aber daf&uuml;r brauchen wir einen Kontext und Inhalt.</p>
        
        <p>Hast du genug Text auf deiner Website? Findet sich all das, was du in einem ausgedehnten ersten Gespr&auml;ch mit einem potentiellen Kunden erz&auml;hlst, auf deiner Seite wieder? Inklusive aller Zwischent&ouml;ne und Anekdoten, die das Gespr&auml;ch mit dir so lebendig machen?</p>
        
        <p>Falls nicht: Einatmen, ausatmen, schreiben. Am besten sofort und t&auml;glich.</p></div>

        <mat-form-field color="primary" appearance="outline">
            <mat-label>Lehrer</mat-label>
            <mat-select id="selectTeacher">
              <mat-option>
                JerA
              </mat-option>
            </mat-select>
          </mat-form-field>
    <img src="assets\img\langlauf.jpg" alt="Marcel">
</html>

  