<!DOCTYPE html>

<html>
    <div class="container">
        <div class="homepage-header">
            <app-header></app-header>
            <app-navbar></app-navbar>
        </div>
        <div class="content-container">
            <div class="headline">
                <span>Willkommen bei Studylink, der intelligenten Nachhilfeplattform!</span>
            </div>
            <div class="homepage-container">
                <div class="homepage">
                    <br>
                    <p>Studylink ermöglicht es dir, schnell und einfach einen Nachhilfelehrer für HTL-spezifische technische Fächer zu finden.</p>
                    <br>
                    <h4>Als Schüler</h4>
                    <p>Als Schüler, der Nachhilfe beantragt, wird dir ein passender Schüler einer höheren Klasse zugewiesen, der Nachhilfe in dem von dir benötigten Fach anbietet</p>
                    <br>
                    <h4>Als Tutor</h4>
                    <p>Als Schüler, der Nachhilfe anbietet, wirst du benachrichtigt, wenn ein Schüler Nachhilfe in einem der von dir angegebene Fächer beantragt.</p>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</html>