<!DOCTYPE html>

<html>
  <div class="container">
    <div class="list-container">
      <nav class="navbar">
        <ul>
          <li><a routerLink="/homepage" routerLinkActive="active">Home</a></li>
          <li><a routerLink="/teacher" routerLinkActive="active">Teacher</a></li>
          <li><a routerLink="/student" routerLinkActive="active">Student</a></li>
          <li><a routerLink="/matches" routerLinkActive="active">Matches</a></li>
        </ul>
      </nav>
    </div>
  </div>
</html>

